.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 40px;
    font-weight: bold;
}

.quote {
    font-size: 25px;
    font-style: italic;
    color: lightgrey;
}
