.traits {
    display: flex;
    align-items: center;
    height: 100%;
}

.traits li{
    flex: 1;
    background-color: lightblue;
    list-style: none;
    margin: .1em;
    padding: .3em;
    border-radius: 3px;
    margin: 1px;
    flex: column;
    height: 60px;
    min-width: 100px;
}
