.traits {
    display: flex;
}

.traits li{
    flex: 1;
    background-color: lightblue;
    list-style: none;
    margin: .1em;
    padding: .3em;
    border-radius: 3px;
    margin: 1px;
    flex: column;
}
